<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%level{length=1}[%d{HH:mm:ss,SSS}] [%t]%logger{0}:} %msg%n"/>
        </Console>

        <File name="MyFile" fileName="${sys:logFilename}.log" append="false" immediateFlush="true">
            <PatternLayout pattern="%level{length=1}[%d{HH:mm:ss,SSS}] [%t]%logger{0}: %msg%n"/>
        </File>
    </Appenders>


    <Loggers>
        <Logger level="info" name="io.netty"/>
        <Logger level="info" name="pt.unl.fct.di.novasys.network"/>
        <Logger level="info" name="pt.unl.fct.di.novasys.channel"/>
        <Logger level="info" name="pt.unl.fct.di.novasys.babel"/>
        <Logger level="info" name="chainpaxos"/>

        <Root level="INFO">
            <AppenderRef ref="Console" level="info"/>
	    <AppenderRef ref="MyFile" level="info"/>
        </Root>
    </Loggers>
</Configuration>
